// VARIABLES
$website-width: 1280px;
$main-bg-color: #dcdcdc;
$main-color: #ffbc00;
$light-color: #fff;
$medium-color: #cccccc;
$dark-color: #333;
$darker-color: #111;
$bg-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/dave_showcase.jpg');