@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import 'variables';
@import 'utilities';



// Base Settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', sans-serif;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

body {
    background: $main-bg-color;
}

// Main Navigation
.navbar {
    @extend %flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    color: $light-color;

    &-logo {
        font-size: 3rem;
        cursor: pointer;

        a {
            font-family: 'Sansita Swashed', sans-serif;
        }

        &:hover {
            opacity: 0.9;
        }
    }

    &-items {
        display: flex;
        text-transform: uppercase;

        .item a {
            cursor: pointer;
            padding: 1rem;
            margin: 0 0.5rem;

            &:hover {
                opacity: 0.9;
                border-bottom: 2px solid $medium-color;
            }
        }
    }
}

// Header
#header {

    &-home {
        background: $bg-image no-repeat center center/cover;
        height: 100vh;

        .header-content {
            @extend %flex;
            margin-top: 200px;
            color: $light-color;
            font-weight: bold;
    
            h1 {
                font-size: 4rem;
            }
    
            p {
                font-size: 1.5rem;
            }
        }
    }

    &-inner {
        background: $bg-image no-repeat 1% 10%/cover;
        border-bottom: 2px solid $main-color;

        .header-content {
            display: none;
        }
    }
}

// Home: Section A
#home-a {
    .special {
        @extend %grid;
        grid-gap: 1rem;
        margin-bottom: 3rem;

        & .img-container {
            display: inline-block;
            width: 100px;
            margin-bottom: 1.7rem;
        }

        & .img-container.node {
            margin-bottom: 0.9rem;
        }
    }
}

// Home: Section B
#home-b {
    .stats {
        @extend %grid;

        div {
            padding: 3rem 0;

            p {
                font-size: 1.3rem;
                margin: 1rem 0 2rem 0;
            }

            h1 {
                font-size: 2rem;
            }
        }

        & div:nth-child(even) {
            background: $medium-color;
        }

    }
}

#home-c {
    .process {
        @extend %grid;

        .process-step {
            @extend %flex;
            margin-bottom: 2rem;
            
            .process-img {
                @extend %flex;
                position: relative;
                width: 140px;
                height: 140px;
                color: $light-color;
                background: $darker-color;
                border-radius: 50%;
                font-size: 1.3rem;
                margin-bottom: 2rem;
                cursor: pointer;
                transition: all .8s;

                .number {
                    @extend %flex;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: $main-color;
                    color: $dark-color;
                    font-weight: bold;
                    transition: all .8s;
                }

                &:hover {
                    background: $main-color;
                    color: $darker-color;
                    width: 160px;
                    height: 160px;

                    .number {
                        background: $darker-color;
                        color: $light-color;
                    }
                }
            }

            h3 {
                margin-bottom: .5rem;
            }
        }
    }
}

#about {
    .about-me {
        @extend %grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
        margin-bottom: 2rem;

        & .about-content {
            background: $light-color;
            border-left: 3px solid $main-color;
            h4 {
                font-size: 1.5rem;
                padding: 2rem 0 1rem 0;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}

#footer {
    background: $darker-color;
    color: $light-color;

    .footer-content {
        @extend %flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 0;

        .social {
            @extend %flex;
            flex-direction: row;

            .icon-bg {
                @extend %flex;
                border: 2px solid $light-color;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 0.5rem;
                font-size: 2rem;
                margin: 0 1rem;
                cursor: pointer;
            }
        }
    }
}