@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue';
}

body {
    background: $main-bg-color;
}